<div class="grants-home-container">
  <h2>Grant Information</h2>
  
  <div class="grant-details">
    <div class="detail-row">
      <div class="label">Grant Number:</div>
      <div class="value">{{ grantNumber }}</div>
    </div>
    
    <div class="detail-row">
      <div class="label">Grant Name:</div>
      <div class="value">{{ grantName }}</div>
    </div>
    
    <div class="detail-row">
      <div class="label">Address:</div>
      <div class="value">{{ address }}</div>
    </div>
    
    <div class="detail-row">
      <div class="label">Point of Contact:</div>
      <div class="value">{{ pointOfContact }}</div>
    </div>
  </div>
</div>
