# Use GitHub Packages for your organization's packages
@NickStitely:registry=https://npm.pkg.github.com

# Authentication for GitHub Packages
//npm.pkg.github.com/:_authToken=${GITHUB_FULL_TOKEN}

# Use the public npm registry for all other packages
registry=https://registry.npmjs.org/

# Disable progress bar in CI environments
# progress=false

# Disable fund messages
fund=false