.register-user-container {
  padding: 0;
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .register-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
}
